<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>VentaPasajesBus</display-name>
    <listener>
        <listener-class>pe.edu.upc.dew.ventapasajesbus.dao.CargarDatos</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.ventapasajesbus.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController</servlet-name>
        <servlet-class>pe.edu.upc.dew.ventapasajesbus.controller.ServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransporteServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.ventapasajesbus.controller.TransporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.ventapasajesbus.controller.ReservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarReserva</servlet-name>
        <servlet-class>pe.edu.upc.dew.ventapasajesbus.controller.ModificarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.ventapasajesbus.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaReservaServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.ventapasajesbus.controller.ConsultaReservaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransporteServlet</servlet-name>
        <url-pattern>/TransporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaServlet</servlet-name>
        <url-pattern>/reserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarReserva</servlet-name>
        <url-pattern>/modreserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaReservaServlet</servlet-name>
        <url-pattern>/conreserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
